body {
  background-color: #f9f5ee;
}

ul {
  list-style-type: none;
}

a {
  color: #c8102e;
}

.primary-text {
  font-size: 1.2em;
}

.navigation {
  font-size: 1.2em;
}

.lead {
  font-size: 1.25em;
}

.bullet-list {
  list-style-type: circle;
}
