body {
  background-color: #f2f0e6;
  display: block;
  list-style: none;
}

a {
  color: #cc7722;
  text-decoration: none;
}

a:hover {
  text-decoration: bold;
}

.headshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.headshot {
  width: 150px; /* You can adjust the size as needed */
  height: 150px;
  border-radius: 50%; /* This crops the image to a circle */
}

.content {
  width: 90%;
  max-width: 700px;
  margin: 20px;
  float: left;
  font-size: 18px;
  font-weight: 300;
  font-family: Lato, Helvetica, sans-serif;
}

.content mark {
  background: #d8d8d8;
  padding: 1px 3px;
  border-radius: 3px;
}

.title {
  font-size: 22px;
  font-weight: 100;
  font-style: Lato;
  font-family: Lato, Helvetica, sans-serif;
}

#menu {
  margin: 20px;
  width: 300px;
  float: left;
  font-size: 16px;
  font-family: Lato, Helvetica, sans-serif;
  list-style-type: none;
  list-style: none; 
}