body {
  background-color: #f2f0e6;
  display: block;
}

ul {
  list-style-type: circle;
}

a {
  color: #cc7722;
}

.menu {
  margin: 20px;
  width: 300px;
  float: left;
  font-size: 1.2em;
  font-family: Lora, Helvetica, sans-serif;
  list-style-type: none;
}

.content {
  width: 800px;
  float: left;
  font-size: 1.2em;
  font-family: Raleway, Helvetica, sans-serif;
}
