/* Fonts */
@font-face { font-family: "Outfit"; src: url("https://benparry.ca/templates/fonts/outfit.ttf") format("truetype");}
@font-face { font-family: "Outfit"; src: url("https://benparry.ca/templates/fonts/pt-serif.ttf") format("truetype");}

body {
  background-color: #FFFAF3; 
  display: block;
  list-style: none;
}

a {
  color: #CD5C67;
  text-decoration: none;
}

a:hover {
  text-decoration: bold;
}

.headshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.headshot {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
}

.content {
  width: 75%;
  max-width: 800px;
  margin: 20px;
  margin-bottom: 10px;
  margin-left: 100px;
  float: left;
  font-size: 18px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #322d2e;
}

.content mark {
  background: #d8d8d8;
  padding: 1px 3px;
  border-radius: 3px;
}

.title {
  font-size: 22px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.chinese{
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#menu {
  margin: 30px;
  margin-right: 60px;
  width: 200px;
  float: right;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  list-style-type: none;
  list-style: none; 
}

.skilful-logomark {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 5px;
}

.skilful-logomark img {
  width: 25px;
  height: auto;
}


@media (max-width: 1250px) { /*choose the width you prefer*/
  #menu {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
  }

  .content {
    max-width: 800px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
